@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row-cols-2">
        <img src="/media/StudentSearch-CL.png"
             class="img-fluid rounded border border-5 border-dark"

             alt="Student Search Company Logo">
    </div>
</div>
<div class="row">
    <div class="gy-5"></div>
</div>

<div class="row">
    <div class="col">
        <img src="/media/SiteStockImage1.png"
             class="img-fluid rounded border border-3 border-dark"
             alt="Student Search Company Logo">
    </div>
    <div class="col">
        <h1 class="display-3">Looking for Recruits?</h1>
    
        <p>
            For recruiters who want to be a step ahead and secure ideal candidates, StudentSearch
            is a platform that gives employers an early opportunity to familiarize themselves with
            students who will be attending career fairs. Unlike Handshake, our product allows recruiters
            to easily filter the index of candidates, and find those students who are a perfect match.
            StudentSearch will give insight to recruiters to make sure the ideal student isn't a stranger
            during a career fair.
        </p>
    </div>
</div>

<div class="row">
    <div class="gy-5"></div>
</div>

<div class="text-center">
    <h1 class="display-3">Getting Started</h1>
    <div class="row">
        <div class="gy-5"></div>
    </div>
    <div class="row">
        <div class="col"><hr/></div>
        <div class="col"><p>1. Sign up for a Recruiter Account</p></div>
        <div class="col"><hr/></div>
    </div>
    <div class="row">
        <div class="gy-5"></div>
    </div>
    <div class="row">
        <div class="col"><hr /></div>
        <div class="col"><p>2. Get Access to Qualified Students</p></div>
        <div class="col"><hr /></div>
    </div>
    <div class="row">
        <div class="gy-5"></div>
    </div>
    <div class="row">
        <div class="col"><hr /></div>
        <div class="col"><p>3. Start Recruiting!</p></div>
        <div class="col"><hr /></div>
    </div>
    <div class="row">
        <div class="gy-5"></div>
    </div>

</div>


